<div class="card customer-card">
  <div class="card-header text-white">
    {{customer.name}}
    <span class="float-right external-link">
      <a [routerLink]="customerDetailUrl">
        <i class="icon-external-link"></i>
      </a>
    </span>
  </div>
  <div class="card-body p-3">
    <div class="row no-gutters">
      <div class="col-md-3 customer-image" [ngStyle]="{'background-image': 'url(' + customer.image + ')'}">
        <!-- I am using bg image instead of img tag here because, the images will not be of fixed width and height -->
        <!-- <img [src]="customer.image" alt="" class="card-img"> -->
      </div>
      <div class="col-md-9">
        <p class="card-text pl-3">
          {{customer.address.city}},
          <br>
          {{customer.address.state ? customer.address.state : customer.address.country}}
          <br>
          <a [routerLink]="customerOrdersUrl" fragment="orders" class="orders-link">view orders</a>
        </p>
      </div>
    </div>
  </div>
</div>
